<div class="all">
  <h1 class="margin"> Covert Succesful </h1>
  <img src="/img/ExportedContentImage_00.png" alt="" style="display: block;">

  <div class="margin">
    <label for="shortURL">Short URL:</label>
    <a href="{{resultURL.originalURL}}" target=" _blank" id=shortURL>
      {{resultURL.shortURL}} </a>
  </div>
  <a href="/"><button>back</button></a>

</div>