<div class="all ">
  <h1 class="margin">Welcome to my URL shortGenerator</h1>
  <img src="/img/ExportedContentImage_00.png" alt="" style="display:block;" class="margin">
  <form action="/finsh/covert" method="post">
    <div class="margin">
      <label for="url">write on your url:</label>
      <input type="url" id="url" name="url" placeholder="請輸入網址 ex:http://localhost:3100/" style="width:350px " required>
      <button type=" submit">Generate URL</button>
      <button type="reset">Clear</button>
    </div>

  </form>
</div>